/* Seção "About" */
.about {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    scroll-margin-top: 20rem;
    padding: 2rem 1rem;
    background-color: var(--light-tertiary-color); /* Fundo claro para se destacar no modo escuro */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.about h2 {
    margin-bottom: 1rem;
    color: var(--primary-color); /* Cor mais visível para o título */
}

.about .about__left p {
    max-width: 40rem;
    flex: 1;
    margin: 1rem 0 2rem;
    color: var(--secondary-color); /* Cor do texto para melhor contraste */
}

.about .about__left ul {
    list-style: none;
    padding: 0;
}

.about .about__left ul li {
    display: inline-block;
    margin-right: 1rem;
}

.about .about__left ul a {
    display: inline-block;
    padding: 0.5rem;
    transition: transform 0.3s;
}

.about .about__left ul a:hover {
    transform: scale(1.1);
}

.about .about__right {
    flex: 1;
    max-width: 66rem;
}

.about .about__right h3 {
    margin-bottom: 0.5rem;
    color: var(--primary-color); /* Cor ajustada */
}

.about .about__right p {
    line-height: 1.6;
    color: var(--secondary-color); /* Cor ajustada */
}

/* Modo escuro */
.dark-mode .about {
    background-color: var(--dark-secondary-color); /* Fundo escuro para modo dark */
}

.dark-mode .about h2 {
    color: #333; /* Título em branco no modo escuro */
}

.dark-mode .about .about__left p,
.dark-mode .about .about__right p,
.dark-mode .about__left .secondary-title {
    color: #ffffff; /* Texto branco no modo escuro */
}
